@import 'styles/_variables';

.clear {
  display: flex;
  margin-right: 8px;
  margin-left: 4px;
  align-items: center;
}

.icon {
  color: $color-border;

  &:hover,
  &:focus {
    color: $color-header;
  }
}
